.side-panel{
    position: fixed;
    right: -300px;
    top:0;
    width: 500px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
}

.side-panel.open{
    right: 0;
}

.side-panel-header{
    display: flex;
    padding: 4px;
    justify-content: space-between;
    background-color: #213385;
    color: white;
}
.form-alignment{
    padding-top: 10px;
    padding-left: 6px;
}

.button-cancel-icon{
    color: white;
    width: 41px;
    border-radius: 8px;
    background-color: #213385;
    border: none;
    cursor: pointer;
}

.add-item{
    cursor: pointer;
    background-color: #213385;
    color: white;
    border-radius: 8px;
    height: 39px;
    width: 120px;
}

.input-div{
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
}

.label-name{
    font-size: 16px;
}